# Ignore These Files

.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
#/vendor/
/nbproject/
/application/session/*

# akamai
/application/config/database.php
/application/config/constants.php
/application/config/config.php

/assets/img/pos/DisplayLogoCustomer.png
/assets/img/pos/ReceiptLogo.png

/assets/img/signature/*
/assets/station_images/*
/assets/download/*
/assets/csv/*

# Don't Ingore These Files (over-ride above)

!/assets/station_images/akamaipos.png

# ignore npm modules
node_modules