.keypad-fn-buttons {
    background-color: #999;
    background-image: -webkit-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1));
    background-image:    -moz-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1));
    background-image:     -ms-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1));
    background-image:      -o-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1));
    background-image:         linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1));
    border: none;
    border-radius: .5em;
    box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.25),
                inset 0 2px 0 hsla(0,0%,100%,.1),
                inset 0 1.2em 0 hsla(0,0%,100%,.1),
                inset 0 -.2em 0 hsla(0,0%,100%,.1),
                inset 0 -.25em 0 hsla(0,0%,0%,.5),
                0 .25em .25em hsla(0,0%,0%,.1);
    color: #444;
    cursor: pointer;
    display: inline-block;
    font-family: sans-serif;
    font-size: 1.9em;
    font-weight: bold;
    line-height: 1.5;
    margin: 2px 5px 1px 1px;
    /* margin: 0 .2em .2em; */
    /* padding: .5em 1.5em .75em; */
    padding: .5em 1.2em .75em;
    position: relative;
    text-decoration: none !important;
    text-shadow: 0 1px 1px hsla(0,0%,100%,.25);
    vertical-align: middle;
    text-align: center;
    border: none;
    outline: none;
    width: 105px;
    /* height: 80px; */
}

.keypad-fn-buttons:hover {
    outline: none;
}
.keypad-fn-buttons:hover,
.keypad-fn-buttons:focus {
    box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.25),
              inset 0 2px 0 rgba(12, 11, 11, 0.1),
              inset 0 1.2em 0 hsla(0,0%,100%,.1),
              inset 0 -.2em 0 hsla(0,0%,100%,.1),
              inset 0 -.25em 0 hsla(0,0%,0%,.5),
              inset 0 0 0 3em hsla(0,0%,100%,.2),
              0 .25em .25em hsla(0,0%,0%,.1);
}

.keypad-fn-buttons:active {
    box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.25),
                inset 0 2px 0 hsla(0,0%,100%,.1),
                inset 0 1.2em 0 hsla(0,0%,100%,.1),
                inset 0 0 0 3em hsla(0,0%,100%,.2),
                inset 0 .25em .5em hsla(0,0%,0%,.05),
                0 -1px 1px hsla(0,0%,0%,.1),
                0 1px 1px hsla(0,0%,100%,.25);
    margin-top: .20em;
    outline: none;
    padding-bottom: .5em;
}


/*
 Back Space
*/
.keypad-fn-backspace {
    background-color: #999;
    background-image: -webkit-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1));
    background-image:    -moz-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1));
    background-image:     -ms-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1));
    background-image:      -o-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1));
    background-image:         linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1));
    border: none;
    border-radius: .5em;
    box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.25),
                inset 0 2px 0 hsla(0,0%,100%,.1),
                inset 0 1.2em 0 hsla(0,0%,100%,.1),
                inset 0 -.2em 0 hsla(0,0%,100%,.1),
                inset 0 -.25em 0 hsla(0,0%,0%,.5),
                0 .25em .25em hsla(0,0%,0%,.1);
    color: #444;
    cursor: pointer;
    display: inline-block;
    font-family: sans-serif;
    font-size: 2.5vmin;
    font-weight: bold;
    line-height: 0;
    margin: 2px 5px 1px 1px;
    /* margin: 0 .2em .2em; */
    /* padding: .5em 1.5em .75em; */
    padding: .5em 1.2em .75em;
    position: relative;
    text-decoration: none !important;
    text-shadow: 0 1px 1px hsla(0,0%,100%,.25);
    vertical-align: middle;
    text-align: center;
    border: none;
    outline: none;
    width: 102px;
    height: 45px;
}

.keypad-fn-backspace:hover {
    outline: none;
}
.keypad-fn-backspace:hover,
.keypad-fn-backspace:focus {
    box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.25),
            inset 0 2px 0 rgba(12, 11, 11, 0.1),
            inset 0 1.2em 0 hsla(0,0%,100%,.1),
            inset 0 -.2em 0 hsla(0,0%,100%,.1),
            inset 0 -.25em 0 hsla(0,0%,0%,.5),
            inset 0 0 0 3em hsla(0,0%,100%,.2),
            0 .25em .25em hsla(0,0%,0%,.1);
}

.keypad-fn-backspace:active {
    box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.25),
                inset 0 2px 0 hsla(0,0%,100%,.1),
                inset 0 1.2em 0 hsla(0,0%,100%,.1),
                inset 0 0 0 3em hsla(0,0%,100%,.2),
                inset 0 .25em .5em hsla(0,0%,0%,.05),
                0 -1px 1px hsla(0,0%,0%,.1),
                0 1px 1px hsla(0,0%,100%,.25);
    margin-top: .20em;
    outline: none;
    padding-bottom: .5em;
}

/*
   Easy buttons
*/

.keypad-easy-fn-buttons {
  background-color: #999;
  background-image: -webkit-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1));
  background-image:    -moz-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1));
  background-image:     -ms-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1));
  background-image:      -o-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1));
  background-image:         linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1));
  border: none;
  border-radius: .5em;
  box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.25),
              inset 0 2px 0 hsla(0,0%,100%,.1),
              inset 0 1.2em 0 hsla(0,0%,100%,.1),
              inset 0 -.2em 0 hsla(0,0%,100%,.1),
              inset 0 -.25em 0 hsla(0,0%,0%,.5),
              0 .25em .25em hsla(0,0%,0%,.1);
  color: #444;
  cursor: pointer;
  display: inline-block;
  font-family: sans-serif;
  font-size: 1.9em;
  font-weight: bold;
  line-height: 1.5;
  margin: 2px 5px 1px 1px;
  /* margin: 0 .2em .2em; */
  /* padding: .5em 1.5em .75em; */
  padding: .5em 0em .75em;
  position: relative;
  text-decoration: none !important;
  text-shadow: 0 1px 1px hsla(0,0%,100%,.25);
  vertical-align: middle;
  text-align: center;
  border: none;
  outline: none;
  width: 95px;
  /* height: 80px; */
}

.keypad-easy-fn-buttons:hover {
  outline: none;
}
.keypad-easy-fn-buttons:hover,
.keypad-easy-fn-buttons:focus {
  box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.25),
            inset 0 2px 0 rgba(12, 11, 11, 0.1),
            inset 0 1.2em 0 hsla(0,0%,100%,.1),
            inset 0 -.2em 0 hsla(0,0%,100%,.1),
            inset 0 -.25em 0 hsla(0,0%,0%,.5),
            inset 0 0 0 3em hsla(0,0%,100%,.2),
            0 .25em .25em hsla(0,0%,0%,.1);
}

.keypad-easy-fn-buttons:active {
  box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.25),
              inset 0 2px 0 hsla(0,0%,100%,.1),
              inset 0 1.2em 0 hsla(0,0%,100%,.1),
              inset 0 0 0 3em hsla(0,0%,100%,.2),
              inset 0 .25em .5em hsla(0,0%,0%,.05),
              0 -1px 1px hsla(0,0%,0%,.1),
              0 1px 1px hsla(0,0%,100%,.25);
  margin-top: .20em;
  outline: none;
  padding-bottom: .5em;
}


/* Payment button */
.keypad-payment-buttons {
  background-color: #999;
  background-image: -webkit-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1));
  background-image:    -moz-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1));
  background-image:     -ms-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1));
  background-image:      -o-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1));
  background-image:         linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1));
  border: none;
  border-radius: .5em;
  box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.25),
              inset 0 2px 0 hsla(0,0%,100%,.1),
              inset 0 1.2em 0 hsla(0,0%,100%,.1),
              inset 0 -.2em 0 hsla(0,0%,100%,.1),
              inset 0 -.25em 0 hsla(0,0%,0%,.5),
              0 .25em .25em hsla(0,0%,0%,.1);
  color: #444;
  cursor: pointer;
  display: inline-block;
  font-family: sans-serif;
  font-size: 1.9em;
  font-weight: bold;
  line-height: 1.5;
  margin: 2px 5px 1px 1px;
  /* margin: 0 .2em .2em; */
  /* padding: .5em 1.5em .75em; */
  padding: .5em 1.2em .75em;
  position: relative;
  text-decoration: none !important;
  text-shadow: 0 1px 1px hsla(0,0%,100%,.25);
  vertical-align: middle;
  text-align: center;
  border: none;
  outline: none;
  width: 95%;
  /* height: 80px; */
}

.keypad-payment-buttons:hover {
  outline: none;
}
.keypad-payment-buttons:hover,
.keypad-payment-buttons:focus {
  box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.25),
            inset 0 2px 0 rgba(12, 11, 11, 0.1),
            inset 0 1.2em 0 hsla(0,0%,100%,.1),
            inset 0 -.2em 0 hsla(0,0%,100%,.1),
            inset 0 -.25em 0 hsla(0,0%,0%,.5),
            inset 0 0 0 3em hsla(0,0%,100%,.2),
            0 .25em .25em hsla(0,0%,0%,.1);
}

.keypad-payment-buttons:active {
  box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.25),
              inset 0 2px 0 hsla(0,0%,100%,.1),
              inset 0 1.2em 0 hsla(0,0%,100%,.1),
              inset 0 0 0 3em hsla(0,0%,100%,.2),
              inset 0 .25em .5em hsla(0,0%,0%,.05),
              0 -1px 1px hsla(0,0%,0%,.1),
              0 1px 1px hsla(0,0%,100%,.25);
  margin-top: .20em;
  outline: none;
  padding-bottom: .5em;
}


/* Payment Jqx button */
.keypad-payment-jqx-buttons {
  background-color: #999;
  background-image: -webkit-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1));
  background-image:    -moz-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1));
  background-image:     -ms-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1));
  background-image:      -o-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1));
  background-image:         linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1));
  border: none;
  border-radius: .5em;
  box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.25),
              inset 0 2px 0 hsla(0,0%,100%,.1),
              inset 0 1.2em 0 hsla(0,0%,100%,.1),
              inset 0 -.2em 0 hsla(0,0%,100%,.1),
              inset 0 -.25em 0 hsla(0,0%,0%,.5),
              0 .25em .25em hsla(0,0%,0%,.1);
  color: #444;
  cursor: pointer;
  display: inline-block;
  font-family: sans-serif;
  font-size: 1.9em;
  font-weight: bold;
  line-height: 1.5;
  margin: 2px 5px 1px 1px;
  /* margin: 0 .2em .2em; */
  /* padding: .5em 1.5em .75em; */
  padding: .5em 1.2em .75em;
  position: relative;
  text-decoration: none !important;
  text-shadow: 0 1px 1px hsla(0,0%,100%,.25);
  vertical-align: middle;
  text-align: center;
  border: none;
  outline: none;
  width: 62%;
  /* height: 80px; */
}

.keypad-payment-jqx-buttons:hover {
  outline: none;
}
.keypad-payment-jqx-buttons:hover,
.keypad-payment-jqx-buttons:focus {
  box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.25),
            inset 0 2px 0 rgba(12, 11, 11, 0.1),
            inset 0 1.2em 0 hsla(0,0%,100%,.1),
            inset 0 -.2em 0 hsla(0,0%,100%,.1),
            inset 0 -.25em 0 hsla(0,0%,0%,.5),
            inset 0 0 0 3em hsla(0,0%,100%,.2),
            0 .25em .25em hsla(0,0%,0%,.1);
}

.keypad-payment-jqx-buttons:active {
  box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.25),
              inset 0 2px 0 hsla(0,0%,100%,.1),
              inset 0 1.2em 0 hsla(0,0%,100%,.1),
              inset 0 0 0 3em hsla(0,0%,100%,.2),
              inset 0 .25em .5em hsla(0,0%,0%,.05),
              0 -1px 1px hsla(0,0%,0%,.1),
              0 1px 1px hsla(0,0%,100%,.25);
  margin-top: .20em;
  outline: none;
  padding-bottom: .5em;
}


/* Cash In button */
.keypad-cashin-jqx-buttons {
    background-color: #999;
    background-image: -webkit-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1));
    background-image:    -moz-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1));
    background-image:     -ms-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1));
    background-image:      -o-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1));
    background-image:         linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1));
    border: none;
    border-radius: .5em;
    box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.25),
                inset 0 2px 0 hsla(0,0%,100%,.1),
                inset 0 1.2em 0 hsla(0,0%,100%,.1),
                inset 0 -.2em 0 hsla(0,0%,100%,.1),
                inset 0 -.25em 0 hsla(0,0%,0%,.5),
                0 .25em .25em hsla(0,0%,0%,.1);
    color: #444;
    cursor: pointer;
    display: inline-block;
    font-family: sans-serif;
    font-size: 1.9em;
    font-weight: bold;
    line-height: 1.5;
    margin: 2px 5px 1px 1px;
    /* margin: 0 .2em .2em; */
    /* padding: .5em 1.5em .75em; */
    padding: .5em 1.2em .75em;
    position: relative;
    text-decoration: none !important;
    text-shadow: 0 1px 1px hsla(0,0%,100%,.25);
    vertical-align: middle;
    text-align: center;
    border: none;
    outline: none;
    width: 98%;
    /* height: 80px; */
  }
  
  .keypad-cashin-jqx-buttons:hover {
    outline: none;
  }
  .keypad-cashin-jqx-buttons:hover,
  .keypad-cashin-jqx-buttons:focus {
    box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.25),
              inset 0 2px 0 rgba(12, 11, 11, 0.1),
              inset 0 1.2em 0 hsla(0,0%,100%,.1),
              inset 0 -.2em 0 hsla(0,0%,100%,.1),
              inset 0 -.25em 0 hsla(0,0%,0%,.5),
              inset 0 0 0 3em hsla(0,0%,100%,.2),
              0 .25em .25em hsla(0,0%,0%,.1);
  }
  
  .keypad-cashin-jqx-buttons:active {
    box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.25),
                inset 0 2px 0 hsla(0,0%,100%,.1),
                inset 0 1.2em 0 hsla(0,0%,100%,.1),
                inset 0 0 0 3em hsla(0,0%,100%,.2),
                inset 0 .25em .5em hsla(0,0%,0%,.05),
                0 -1px 1px hsla(0,0%,0%,.1),
                0 1px 1px hsla(0,0%,100%,.25);
    margin-top: .20em;
    outline: none;
    padding-bottom: .5em;
  }

.glossyblack {
    background-color: rgba(17,17,17,1);
    color: #fff !important;
}

.glossypurple {
    background-color: rgb(107, 83, 130);
    color: #fff !important;
}

.glossyred {
    background-color: rgb(233, 16, 16);
    color: #fff !important;
}

.glossygreen {
    background-color: rgb(91, 158, 91);
    color: #fff !important;
}

.glossyyellow {
    background-color: rgb(212, 195, 40);
    color: #fff !important;
}

.glossycustom1 {
    background-color: rgba(209, 209, 209, 0.849);
    color: #000 !important;
}

.confirm_payment_input{
    width: 100%;
    height: 40px;
    font-size: 2em !important;
    font-weight: bold;
    text-align: right;
    color: #000;
    outline: none;
}

.confirm_payment_input input{
    font-size: 1em !important;
}

.keypad-left-panel{
    float:left;
    width: 61%;
}

.keypad-right-panel{
    float:left;
    width: 39%;
    border: 1px solid rgb(185, 185, 185);
}

.control-backspace {
    height: 40px;
    width: 105px;
    outline: none;
}

.control-backspace .glyphicon {
    font-size: 20px;
}

.control-remove .glyphicon {
    font-size: 20px;
}

.fast-keypad-fn {
    float:left;
    width: 50%;
}

.fast-keypad-fn {
    float:left;
    width: 50%;
}

#confirm_payment_v2_container{
    overflow:  hidden !important;
    background-color: rgb(92, 91, 91);
}

.DenominationNumpad {
    float: left;
    background-color:  #444;
}