<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-title> Reset Password </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <div class="login-logo">
        <img src="../../assets/company_logo.png" alt="logo" />
      </div>
    </ion-col>
  </ion-row>

  <div class="login1">
    <ion-card mode="md">
      <div class="form">
        <ion-list>
          <form [formGroup]="form_detail">
            <ion-item mode="md">
              <ion-label color="primary" position="stacked">Username</ion-label>
              <ion-input
                type="text"
                formControlName="username"
                placeholder="Username"
              ></ion-input>
            </ion-item>
          </form>
        </ion-list>
        <ion-button
          class="reset_pass_btn"
          shape="undefined"
          fill="solid"
          expand="block"
          (click)="Reset_()"
          >Reset</ion-button
        >
      </div>
    </ion-card>

    <div
      class="skip_now_txt"
      style="
        text-align: center;
        justify-items: center;
        justify-self: center;
        font-family: sans-serif;
        font-family: 'LatoRegular';
      "
      (click)="goToLogin()"
    >
      Login
    </div>
    <div class="Success">{{message}}</div>
  </div>
</ion-content>
