.login1 {
  padding: 0 14px;
  // display: flex !important;
  justify-content: center !important;

  flex-direction: column;
  ion-list {
    margin: 16px 0px;
    background: transparent;
    ion-item {
      --background: transparent;
    }
  }
  ion-button {
    --border-radius: 4px;
  }
  p {
    text-align: center;
  }
  ion-card {
    padding: 10px;
    margin: 0;
    box-shadow: none !important;
    margin-top: 23px;
  }
  .my-account-text {
    color: black;
    font-size: x-large;
    font-weight: 800;
  }
}
.login-logo {
  margin-top: 30px;
  // position: absolute;
  text-align: center;
  margin: auto;
  img {
    margin-top: 100px;
  }
}

.fnf_logo {
  margin-top: 26px;
  margin-right: 13px;
  margin-bottom: 11px;
}
.line {
  border-bottom: black 1px solid;
  left: 20px;
  right: 20px;
  position: relative;
}

.vertical {
  border-left: 1px solid black;
  height: auto;
  position: absolute;
  left: 50%;
  bottom: 5px;
  top: 5px;
}
body.home .site-footer {
  display: none;
}
.box {
  justify-content: end;
}
.horizontal {
  border-bottom: 1px solid black;
  width: auto;
  position: absolute;
  top: auto;
  left: 20px;
  right: 20px;
}

p.txt_footer {
  font-size: 13px;
  border-left: 1px solid;
  line-height: 15px;
  font-family: "LatoRegular";
}

ion-tabs,
ion-tab-bar {
  background: white !important;
}

div {
  background: white;
}

p.txt_footer_Acc {
  font-size: 13px;
  /* border-left: 1px solid; */
  line-height: 15px;
  font-family: "LatoRegular";
}

ion-label#ion-input-0-lbl {
  margin-bottom: 5px;
}

ion-label#ion-input-1-lbl {
  margin-bottom: 5px;
}

.message {
  margin-left: 30px;
  margin-top: 10px;
  color: #6b6b6b;
  font-size: 16px;
}

.Success {
  border: 1px solid;
  margin: 10px 0px;
  padding: 15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
  color: #4f8a10;
  background-color: #dff2bf;
  background-image: url("https://i.imgur.com/Q9BGTuy.png");
}
